doctype html
html(lang="en")
    head
        link(href="/css/nodeboard.css" rel="stylesheet")
    body
        div(class="navbar")
            ul(class="nav nav-left")
                li
                    a(href="/page/1") Topics
            ul(class="nav nav-right")
                li
                    a(href="/logout") Log Out
        block content