extends layout

block content
    table(class="topic-list")
        tr
            th Topic
            th Poster
            th Messages
            th Last Post
        each topic in topics
            tr
                td
                    a(href="/topic/#{topic.id}")= topic.title
                td= topic.username
                td= topic.count
                td= topic.lastPostTime
    a(href="/newtopic") New Topic